.fa {
    padding: 5px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
.fa-facebook {
    background: transparent;
    color: white;
  }
  .fa-twitter {
    background: transparent;
    color: white;
  }
  .fa-linkedin {
    background: transparent;
    color: white;
  }
  .fa-instagram {
    background: transparent;
    color: white;
  }
  .main-img {
      border: pink;
      position: relative;
      margin-left: 50px;
  }
  .button {
    float: left;
    background-color: #FDFEFE;
    color: #FE3C61;
    border-radius: 12px;
    border: none;
    padding: 10px 30px;
    font-weight: bold;
  }
  .h1 {
    font-family: Kristen ITC;
    font-weight: bold;
    text-transform:
    color: #fff;
  }
  .para {
    font-family: Kristen ITC;
    font-size: 15px;
    color: #fff;
    padding-bottom: 30px;
  }
  .top-middle > a {
    padding: 0 20px;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
  }
  .top-middle > a:hover {
    text-decoration: underline;
    
  }
  .top-right > a {
    padding: 0 20px;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    
  }
  .top-right > a:hover {
    text-decoration: underline;
    
  }
  .button1 {
    float: right;
    background-color: #FDFEFE;
    color: #FE3C61;
    border-radius: 10px;
    border: none;
    padding: 5px 15px;
    font-size: 15px;
  }
  .button1:hover {
    cursor: pointer;
  }
  .button:hover {
    cursor: pointer;
  }
  .background {
    background-image: url(../img/burbulas.png);
    background-repeat: no-repeat;
    background-position:center;
    filter:opacity(30%);
    
  }
  